<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("~/Views/Admin/Meta.cshtml")

    @await Html.PartialAsync("~/Views/Admin/Css.cshtml")

</head>
<body>
    <div class="page-wraper">
        @await Html.PartialAsync("~/Views/Admin/Header.cshtml")
        <div class="page-content">

            @RenderBody()

        </div>
        @await Html.PartialAsync("~/Views/Admin/Footer.cshtml")
        <button class="scroltop"><i class=" fa fa-arrow-up"></i></button>

    </div>
   
    @await Html.PartialAsync("~/Views/Admin/Script.cshtml")
</body>
</html>


