
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="page-content">
        
            <!-- INNER PAGE BANNER -->
          
            <!-- INNER PAGE BANNER END --> 
            
            <!-- BREADCRUMB ROW -->  
            <div class="bg-gray-light p-tb20">
                <div class="container">
                    <ul class="wt-breadcrumb breadcrumb-style-1">
                        <li><a href="javascript:void(0);">Ana Sayfa</a></li>
                        <li>Hakkımızda</li>
                    </ul>
                </div>
            </div>
            <!-- BREADCRUMB ROW END -->                   
            
            <!-- SECTION CONTENT START -->
            <div class="section-full p-t80 p-b50">
            
                <div class="container">
                    <div class="p-b30">
                        <h2 class="text"> HAKKIMIZDA</h2>
                        <div class="wt-separator-outer">
                        <div class="wt-separator style-square">
                           <span class="separator-left bg-primary"></span>
                           <span class="separator-right bg-primary"></span>
                        </div>
                        </div>
                    </div>
                    
                    <div class="faq-block">

                       
                        1990 yılında İnşaat sektöründe orta ve büyük ölçekli projelerin geliştirilmesi, yeni inşaat teknolojilerinin getirilmesi ve teknolojideki son yenilikleri takip ederek inşaat sektörümüzün çağdaş düzeye ulaşmasına katkı sunmak amacıyla Ankara’da kurulmuş olan Tamka Yapı İnşaat, kuruluşundan beri süregelen profesyonellik, yaratıcılık, dürüstlük ve pazarı geliştirme özellikleriyle istikrarlı bir büyüme göstererek inşaat dünyasında saygın bir yer edinmiştir.
                        <br />
                        <br />
                        <br />

                        Sektördeki gelişmeleri ve pazardaki yeni talepleri yakından takip eden firma yönetimi, güçlü idari ve mali birikimi ile sektörde öncü firmalardan biri olmayı sürdürmektedir. Tamka Yapı İnşaat kaliteli ve yenilikçi birçok projeye imzasını atmıştır.
                        Üstlendiği taahhütleri zamanında ve beklenen kalite seviyelerinin üzerinde tamamlayarak sektöründe ciddi bir saygınlığa ulaşmış olan Tamka İnşaat’ın bugünkü konumuna gelmesinde, personelinin deneyim ve profesyonelliği ile yönetim kadrosunun geliştirmiş olduğu strateji ve organizasyonel başarısı etkili olmuştur.
                        <br />
                        <br />
                        <br />

                        Tamka ailesi tüm taahhüt ve yatırım projelerinde modern yönetim teknikleri kullanmayı, piyasada kendini kanıtlamış, kalitesi belgelenmiş malzeme ve işçiliği tercih ederek projelerini zamanında tamamlamayı temel politikası olarak benimsemektedir.
                        <br />
                        <br />
                        <br />
                        Saygılarımızla,
                        <br />
                        <br />
                        <b>Şaban Tamir </b>
                        <br />
                        İnşaat Yüksek Mühendisi
                        <br />
                        Kurucu,ortak





                    </div>
                    
                </div>
                
            </div>
            <!-- SECTION CONTENT END -->
        
        </div>

