
@{
    ViewBag.Title = "Ilan";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="page-content">
        
            <!-- INNER PAGE BANNER -->
          
            <!-- INNER PAGE BANNER END --> 
            
            <!-- BREADCRUMB ROW -->  
            <div class="bg-gray-light p-tb20">
                <div class="container">
                    <ul class="wt-breadcrumb breadcrumb-style-1">
                        <li><a href="javascript:void(0);">Ana Sayfa</a></li>
                        <li>Ilan</li>
                    </ul>
                </div>
            </div>
            <!-- BREADCRUMB ROW END -->                   
            
            <!-- SECTION CONTENT START -->
            <div class="section-full p-t80 p-b50">
            
                <img src="~/Content/images/toplanti/a1b1.jpg" />
                
            </div>
            <!-- SECTION CONTENT END -->
        
        </div>

