@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}



<!-- SLIDER START -->
<div class="main-slider style-two default-banner">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <!-- START REVOLUTION SLIDER 5.4.1 -->
            <div id="rev_slider_1014_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="typewriter-effect" data-source="gallery">
                <div id="rev_slider_1014_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                    <ul>
                        <!-- SLIDE 1 -->
                        <li data-index="rs-1000" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                            <!-- MAIN IMAGE -->
                            <img src="~/Content/images/main-slider/slider1/tamka.jpg" alt="tamka, inşaat, yapı, mimarlık" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina />
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 [ for overlay ] -->
                            <div class="tp-caption tp-shape tp-shapewrapper "
                                 id="slide-100-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[
                                        {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                                        ]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 12;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYER NR. 2 [ for title ] -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-100-layer-2"
                                 data-x="['left','left','left','left']" data-hoffset="['30','30','30','100']"
                                 data-y="['top','top','top','top']" data-voffset="['200','200','200','200']"
                                 data-fontsize="['60','60','60','50']"
                                 data-lineheight="['70','70','70','60']"
                                 data-width="['700','700','700','700']"
                                 data-height="['none','none','none','none']"
                                 data-whitespace="['normal','normal','normal','normal']"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[
                                        {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                        ]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 13;
                                        white-space: normal;
                                        font-weight: 700;
                                        color: rgba(255, 255, 255, 1.00);
                                        border-width:0px;">
                                <span class="text-uppercase" style="font-family:'Roboto' ;"><span class="text-primary">TAMKA </span> YAPI</span>
                            </div>

                            <!-- LAYER NR. 3 [ for paragraph] -->
                            <div class="tp-caption  tp-resizeme"
                                 id="slide-100-layer-3"
                                 data-x="['left','left','left','left']" data-hoffset="['30','30','30','100']"
                                 data-y="['top','top','top','top']" data-voffset="['300','300','300','300']"
                                 data-fontsize="['18','18','18','30']"
                                 data-lineheight="['30','30','30','40']"
                                 data-width="['650','650','650','650']"
                                 data-height="['none','none','none','none']"
                                 data-whitespace="['normal','normal','normal','normal']"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[
                                        {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                        ]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 13;
                                        font-weight: 500;
                                        color: rgba(255, 255, 255, 0.85);
                                        border-width:0px;">
                                <span style="font-family:'Roboto'; font-size:22px;">
                                    Güven inşa eder...
                                </span>
                            </div>

                            <!-- LAYER NR. 4 [ for readmore botton ] -->
                            <div class="tp-caption tp-resizeme"
                                 id="slide-100-layer-4"
                                 data-x="['left','left','left','left']" data-hoffset="['30','30','30','100']"
                                 data-y="['top','top','top','top']" data-voffset="['430','430','450','500']"
                                 data-lineheight="['none','none','none','none']"
                                 data-width="['300','300','300','300']"
                                 data-height="['none','none','none','none']"
                                 data-whitespace="['normal','normal','normal','normal']"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[
                                        {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                        ]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index:13; text-transform:uppercase; font-weight:700;">
                                @*<a href="javascript:;" class="site-button button-lg skew-icon-btn m-r15">Read more <i class="fa fa-angle-double-right"></i></a>*@
                            </div>

                        </li>

                        <!-- SLIDE 2 -->
                        <li data-index="rs-2000" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                            <!-- MAIN IMAGE -->
                            <img src="~/Content/images/main-slider/slider1/mimarlik.jpg" alt="mimarlık, tamka" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina />
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 [ for overlay ] -->
                            <div class="tp-caption tp-shape tp-shapewrapper "
                                 id="slide-200-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[
                                        {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                                        ]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 12;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYER NR. 2 [ for title ] -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-200-layer-2"
                                 data-x="['left','left','left','left']" data-hoffset="['30','30','30','100']"
                                 data-y="['top','top','top','top']" data-voffset="['200','200','200','200']"
                                 data-fontsize="['60','60','60','50']"
                                 data-lineheight="['70','70','70','60']"
                                 data-width="['700','700','700','700']"
                                 data-height="['none','none','none','none']"
                                 data-whitespace="['normal','normal','normal','normal']"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[
                                        {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                        ]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 13;
                                        white-space: normal;
                                        font-weight: 700;
                                        color: rgba(255, 255, 255, 1.00);
                                        border-width:0px;">
                                <span class="text-uppercase" style="font-family:'Roboto' ;"><span class="text-primary">TAMKA </span> MİMARLIK</span>
                            </div>

                            <!-- LAYER NR. 3 [ for paragraph] -->
                            <div class="tp-caption  tp-resizeme"
                                 id="slide-200-layer-3"
                                 data-x="['left','left','left','left']" data-hoffset="['30','30','30','100']"
                                 data-y="['top','top','top','top']" data-voffset="['300','300','300','300']"
                                 data-fontsize="['18','18','18','30']"
                                 data-lineheight="['30','30','30','40']"
                                 data-width="['650','650','650','650']"
                                 data-height="['none','none','none','none']"
                                 data-whitespace="['normal','normal','normal','normal']"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[
                                        {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                        ]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 13;
                                        font-weight: 500;
                                        color: rgba(255, 255, 255, 0.85);
                                        border-width:0px;">
                                <span style="font-family:'Roboto'; font-size:22px; ">
                                    Estetik ve Kalite...
                                </span>
                            </div>

                            <!-- LAYER NR. 4 [ for readmore botton ] -->
                            <div class="tp-caption tp-resizeme"
                                 id="slide-200-layer-4"
                                 data-x="['left','left','left','left']" data-hoffset="['30','30','30','100']"
                                 data-y="['top','top','top','top']" data-voffset="['430','430','450','500']"
                                 data-lineheight="['none','none','none','none']"
                                 data-width="['300','300','300','300']"
                                 data-height="['none','none','none','none']"
                                 data-whitespace="['normal','normal','normal','normal']"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[
                                        {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                        ]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index:13; text-transform:uppercase; font-weight:700;">
                                @*<a href="javascript:;" class="site-button button-lg skew-icon-btn m-r15">Read more <i class="fa fa-angle-double-right"></i></a>*@
                            </div>

                            <!-- LAYER NR. 5 [ for botton ] -->
                            <div class="tp-caption tp-resizeme"
                                 id="slide-200-layer-5"
                                 data-x="['left','left','left','left']" data-hoffset="['230','230','230','230']"
                                 data-y="['top','top','top','top']" data-voffset="['490','490','490','600']"
                                 data-fontsize="['none','none','none','none']"
                                 data-lineheight="['none','none','none','none']"
                                 data-width="['300','300','300','300']"
                                 data-height="['none','none','none','none']"
                                 data-whitespace="['normal','normal','normal','normal']"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[
                                        {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                        ]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 13; text-transform:uppercase; font-weight:700;">
                                <!--<a href="javascript:;" class="site-button button-lg skew-icon-btn m-r15" >Read More<i class="fa fa-arrow-circle-o-right"></i></a>-->
                            </div>

                        </li>




                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
            <!-- END REVOLUTION SLIDER -->
        </div>
    </div>
</div>
<!-- SLIDER END -->
<!-- OUR VALUE SECTION START -->
<div class="section-full overlay-wraper" style="background-image:url(../../Content/images/background/bg1.jpg)">
    <div class="overlay-main" style="opacity:0.90; background-color:#273447; "></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 p-t15 p-b30 support-skew">
                <div style="z-index:2; position:relative;">
                    <div class="col-md-6 p-tb10">
                        <div class="wt-icon-box-wraper left ">
                            <div class="icon-md text-primary">
                                <a href="#" class="icon-cell">
                                    <img src="~/Content/images/icons/besty-quality.png" alt="inşaat, kalite, tamka">
                                </a>
                            </div>
                            <div class="icon-content text-white">
                                <h5 class="wt-tilte text m-b5 text-white">KALİTE</h5>
                                <p>Profesyonel Ekibi ve 30 yılı aşkın tecrübe...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-tb10">
                        <div class="wt-icon-box-wraper left">
                            <div class="icon-md text-primary">
                                <a href="#" class="icon-cell">
                                    <img src="~/Content/images/icons/besty-quality.png" alt="tamka, inşaaaat">
                                </a>
                            </div>
                            <div class="icon-content text-white">
                                <h5 class="wt-tilte text-uppercase m-b0 text-white">Güven</h5>
                                <p>İnşa etmiş olduğu yüzlerce yapı...</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-2 p-t50 p-b50 col-md-offset-1">
                <div class="">
                    <a href="/Home/Contact" class="site-button skew-icon-btn m-r15 text" style="font-weight:600;">İLETİŞİM<i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- OUR VALUE SECTION  END -->
<!-- ABOUT COMPANY SECTION START -->
<div class="section-full p-tb100" style="background-image:url(../../Content/images/background/pic-c-1bg.png); background-position:left bottom; background-repeat:no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="section-head text-left">
                    <h2 class="text-uppercase">Hakkımızda</h2>
                    <div class="wt-separator-outer">
                        <div class="wt-separator style-square">
                            <span class="separator-left bg-primary"></span>
                            <span class="separator-right bg-primary"></span>
                        </div>
                    </div>
                    <p>
                        Temelleri 1990 yılında atılan Tamka Yapı, yüklenici ve yatırımcı olarak İstanbul ve Ankara'da faaliyet göstermektedir.
                    </p>
                    <p>
                        Tamka Yapı profesyonel ekibi, bilgi ve deneyim ile avm, konut projeleri,otel projeleri ve bir çok ticari proje ile geniş bir yelpazede kaliteli ve yenilikçi anlayışıyla çalışmalarına imza atıyor.
                    </p>
                </div>
                <div class="about-types row">
                    <div class="col-md-6 col-sm-6 p-tb20">
                        <div class="wt-icon-box-wraper left p-l20  bdr-1 bdr-gray-light">
                            <div class="icon-sm text-primary">
                                <a href="#" class="icon-cell p-t5 center-block"><i class="fa fa-building" aria-hidden="true"></i></a>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase m-b0">YAPI</h5>
                                <p>Yapılarımızı Güven ve Kalite üzerine inşa ediyoruz...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 p-tb20 ">
                        <div class="wt-icon-box-wraper left  p-l20 bdr-1 bdr-gray-light">
                            <div class="icon-sm text-primary">
                                <a href="#" class="icon-cell p-t5 center-block"><i class="fa fa-paint-brush" aria-hidden="true"></i></a>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase m-b0">Kentsel Dönüşüm</h5>
                                <p>Daha İyi ve güzel bir yaşam için bizimle yenilenin...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 p-tb20 ">
                        <div class="wt-icon-box-wraper left  p-l20 bdr-1 bdr-gray-light">
                            <div class="icon-sm text-primary">
                                <a href="#" class="icon-cell p-t5 center-block"><i class="fa fa-gavel" aria-hidden="true"></i></a>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text-uppercase m-b0 ">proje</h5>
                                <p>Eşsiz ve ayrıcalıkı projeleri hayata geçirelim...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 p-tb20 ">
                        <div class="wt-icon-box-wraper left p-l20 bdr-1 bdr-gray-light">
                            <div class="icon-sm text-primary">
                                <a href="#" class="icon-cell p-t5 center-block"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                            </div>
                            <div class="icon-content">
                                <h5 class="wt-tilte text m-b0">YENİLİKÇİ TASARIM</h5>
                                <p> Hayatınıza estetik ve yenilikçi dokunuşlar ile renk katalım </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT COMPANY SECTION END -->
<!-- LATEST PROJECT SECTION START -->
<div class="section-full p-t80" style="background-image:url(../../Content/images/background/bg-4.png); background-repeat:repeat; background-color:#273447; ">
    <div class="overlay-main"></div>
    <div class="container">
        <div class="section-head">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="text-uppercase text-white m-a0 p-t15">Devam Eden Projeler</h2>
                </div>
                <div class="col-md-8">
                    <div class="filter-wrap p-tb15 right">
                        <ul class="masonry-filter outline-style button-skew text customize">
                            <li><a data-filter="*"><span> KONUT</span></a></li>
                            <li><a data-filter=".house" href="#"><span> SİTE</span></a></li>
                            <li><a data-filter=".building" href="#"><span>AVM</span></a></li>
                            <li><a data-filter=".office" href="#"><span>OTEL</span></a></li>
                            <li><a data-filter=".garden" href="#"><span>TİCARİ</span></a></li>
                            <li><a data-filter=".interior" href="#"><span>SANAYİ</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="portfolio-wrap mfp-gallery no-col-gap">

                <!-- columns 1 -->
                <div class="masonry-item house col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="wt-gallery-bx img-reflection">
                        <div class="wt-thum-bx wt-img-effect zoom-slow ">
                            <div align="center">
                                <a href="javascript:void(0);">
                                    <img src="~/content/images/yeni_1.jpeg" alt="tamka, inşaat, tamka inşaat">
                                </a>
                            </div>
                            <div class="overlay-bx">
                                <div class="overlay-icon">

                                    <a href="~/content/images/yeni_1.jpeg" class="mfp-link">
                                        <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- columns 2 -->
                <div class="masonry-item building col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="wt-gallery-bx img-reflection">
                        <div class="wt-thum-bx wt-img-effect zoom-slow">
                            <div align="center">
                                <a href="javascript:void(0);" title="The Cleaner">
                                    <img src="~/Content/images/latest-projects/devam22.png" alt="üsküdar, polatlı, tamka inşaat, tamka">
                                </a>
                            </div>
                            <div class="overlay-bx">
                                <div class="overlay-icon">
                                    <a href="~/Content/images/latest-projects/devam22.png" class="mfp-link">
                                        <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 3 -->
                <div class="masonry-item office col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="wt-gallery-bx img-reflection">
                        <div class="wt-thum-bx wt-img-effect zoom-slow">
                            <div align="center">
                                <a href="javascript:void(0);">
                                    <img src="~/Content/images/latest-projects/devam33.jpg" alt="tamka, inşşat, tamka inşaat">
                                </a>
                            </div>
                            <div class="overlay-bx">
                                <div class="overlay-icon">
                                    <a href="~/Content/images/latest-projects/devam33.jpg" class="mfp-link">
                                        <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 4 -->
                <div class="masonry-item garden col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="wt-gallery-bx img-reflection">
                        <div class="wt-thum-bx wt-img-effect zoom-slow">
                            <div align="center">
                                <a href="javascript:void(0);">
                                    <img src="~/Content/images/latest-projects/devam44.jpg" alt="tamka, inşaat">
                                </a>
                            </div>
                            <div class="overlay-bx">
                                <div class="overlay-icon">

                                    <a href="~/Content/images/latest-projects/devam44.jpg" class="mfp-link">
                                        <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 5 -->
                <div class="masonry-item garden col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="wt-gallery-bx img-reflection">
                        <div class="wt-thum-bx wt-img-effect zoom-slow">
                            <div align="center">
                                <a href="javascript:void(0);">
                                    <img src="~/Content/images/yeni_2.jpeg" alt="tamka, inşaat">
                                </a>
                            </div>
                            <div class="overlay-bx">
                                <div class="overlay-icon">

                                    <a href="~/Content/images/yeni_2.jpeg" class="mfp-link">
                                        <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- COLUMNS 6 -->
                <div class="masonry-item building col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="wt-gallery-bx img-reflection">
                        <div class="wt-thum-bx wt-img-effect zoom-slow">
                            <div align="center">
                                <a href="javascript:void(0);">
                                    <img src="~/Content/images/latest-projects/devam66.jpg" alt="tamka, inşaat">
                                </a>
                            </div>
                            <div class="overlay-bx">
                                <div class="overlay-icon">
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-link wt-icon-box-xs"></i>
                                    </a>
                                    <a href="~/Content/images/latest-projects/devam66.jpg" class="mfp-link">
                                        <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 7 -->
                <div class="masonry-item interior col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="wt-gallery-bx img-reflection">
                        <div class="wt-thum-bx wt-img-effect zoom-slow">
                            <div align="center">
                                <a href="javascript:void(0);">
                                    <img src="~/Content/images/latest-projects/devam888.jpg" alt="tamka, inşaat">
                                </a>
                            </div>
                            <div class="overlay-bx">
                                <div class="overlay-icon">

                                    <a href="~/Content/images/latest-projects/devam888.jpg" class="mfp-link">
                                        <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 8 -->
                <div class="masonry-item house col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="wt-gallery-bx img-reflection">
                        <div class="wt-thum-bx wt-img-effect zoom-slow">
                            <div align="center">
                                <a href="javascript:void(0);">
                                    <img src="~/Content/images/latest-projects/devam88.jpg" alt="">
                                </a>
                            </div>
                            <div class="overlay-bx">
                                <div class="overlay-icon">

                                    <a href="javascript:void(0);">
                                        <i class="fa fa-link wt-icon-box-xs"></i>
                                    </a>
                                    <a href="~/Content/images/latest-projects/devam88.jpg" class="mfp-link">
                                        <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item house col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="wt-gallery-bx img-reflection">
                        <div class="wt-thum-bx wt-img-effect zoom-slow">
                            <div align="center">
                                <a href="javascript:void(0);">
                                    <img src="~/Content/images/yeni_3.jpeg" alt="">
                                </a>
                            </div>
                            <div class="overlay-bx">
                                <div class="overlay-icon">

                                    <a href="javascript:void(0);">
                                        <i class="fa fa-link wt-icon-box-xs"></i>
                                    </a>
                                    <a href="~/Content/images/yeni_3.jpeg" class="mfp-link">
                                        <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="masonry-item house col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="wt-gallery-bx img-reflection">
                        <div class="wt-thum-bx wt-img-effect zoom-slow">
                            <div align="center">
                                <a href="javascript:void(0);">
                                    <img src="~/Content/images/yeni_4.jpeg" alt="">
                                </a>
                            </div>
                            <div class="overlay-bx">
                                <div class="overlay-icon">

                                    <a href="javascript:void(0);">
                                        <i class="fa fa-link wt-icon-box-xs"></i>
                                    </a>
                                    <a href="~/Content/images/yeni_4.jpeg" class="mfp-link">
                                        <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- LATEST PROJECT SECTION END -->
<!-- WHY CHOOSE US SECTION START  -->
<div class="section-full bg-gray p-t80 p-b120" style=" background-repeat:no-repeat; background-position:right bottom;">
    <div class="container">
        <!-- TITLE START-->
        <div class="section-head text-center">
            <h2 class="text">NEDEN BİZ?</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left bg-primary"></span>
                    <span class="separator-right bg-primary"></span>
                </div>
            </div>
            <p>
                İnşaat sektöründe öncü bir kuruluş olarak yerini almış ve günümüzde önde gelen inşaat firmalarından biri olarak inşaat sektöründeki öncü misyonunu sürdürmektedir.
            </p>
        </div>
        <!-- TITLE END-->
        <div class="section-content">
            <div class="row">

                <!-- COLUMNS 1 -->
                <div class="col-md-4 col-sm-6 p-tb15">
                    <div class="wt-icon-box-wraper  p-a20 left bg-white">
                        <div class="icon-sm text-primary m-b30">
                            <a href="#" class="icon-cell"><i class="fa fa-life-ring" aria-hidden="true"></i></a>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text">VİZYONUMUZ</h5>
                            <div class="wt-separator bg-primary"></div>
                            <p>Yeniliklere açık, kalite üretimi hedefleyen, her geçen gün kendini ileriye taşıyan bir  firma olmayı hedefledik [...] </p>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 2 -->
                <div class="col-md-4 col-sm-6 p-tb15">
                    <div class="wt-icon-box-wraper  p-a20 left bg-white">
                        <div class="icon-sm text-primary m-b20">
                            <a href="#" class="icon-cell"><i class="fa fa-trophy" aria-hidden="true"></i></a>
                        </div>
                        <div class="icon-content ">
                            <h5 class="wt-tilte text">MİSYONUMUZ</h5>
                            <div class="wt-separator bg-primary"></div>
                            <p>Kaliteli üretim yaşanabilir huzurlu bir çevre müşteri memnuniyeti çalışmalarımızda ana fikrimizi oluşturmaktadır [...]</p>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 3 -->
                <div class="col-md-4 col-sm-6 p-tb15">
                    <div class="wt-icon-box-wraper  p-a20 left bg-white">
                        <div class="icon-sm text-primary m-b20">
                            <a href="#" class="icon-cell"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text">STRATEJİ</h5>
                            <div class="wt-separator bg-primary"></div>
                            <p>Yüksek verimlilik ve sağlam adımlarla planlanan yolda yürümek bizi başarıya götüren stratejimizdir [...]</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- WHY CHOOSE US SECTION END -->
<!-- COMPANY DETAIL SECTION START -->
<div class="section-full overlay-wraper" style="background-repeat:no-repeat;">
    <div class="overlay-main" style="opacity:0.90; background-color:#273447; "></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8 col-sm-12">
                <div class="company-detail-skew">
                    <div class="company-status row p-tb40">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="status-marks bdr-2  text-white m-tb10">
                                <div class="status-sign">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                </div>
                                <div class="status-value"><span class="counter">593</span></div>
                            </div>
                            <h6 class="text-uppercase text-white">Biten Projeler</h6>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="status-marks bdr-2  text-white m-tb10">
                                <div class="status-sign">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <div class="status-value"><span class="counter">5223</span></div>
                            </div>
                            <h6 class="text-uppercase text-white">Mutlu Müşteri Sayısı</h6>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="status-marks bdr-2  text-white m-tb10">
                                <div class="status-sign">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                                </div>
                                <div class="status-value"><span class="counter">247</span></div>
                            </div>
                            <h6 class="text-uppercase text-white">Emekçilerimiz</h6>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="status-marks bdr-2  text-white m-tb10">
                                <div class="status-sign">
                                    <i class="fa fa-cloud" aria-hidden="true"></i>
                                </div>
                                <div class="status-value"><span class="counter">12</span></div>
                            </div>
                            <h6 class="text-uppercase text-white">Devam Eden Projeler</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COMPANY DETAIL SECTION End -->
<!-- OUR TEAM MEMBER SECTION START -->
<div class="section-full wt-our-team bg-white p-t80 p-b50">
    <div class="container">

        <!-- TITTLE START -->
        <div class="section-head text-center">
            <h2 class="text-uppercase">KURUMSAL</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left bg-primary"></span>
                    <span class="separator-right bg-primary"></span>
                </div>
            </div>
            <p>Bizi Tanıyın...</p>
        </div>
        <!-- TITLE END -->

        <div class="section-content">
            <div class="row">

                <!-- COLUMNS 1 -->
                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-t30">
                    <div class="wt-team-four">

                        <div class="wt-team-info">
                            <div class="wt-team-skew-block p-t10">
                                <div class="social-icons-outer bg-primary  p-a25">
                                    <ul class="social-icons social-square social-dark white-border m-b0">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-a20">
                                <h4 class="wt-team-title text-uppercase"><a href="javascript:void(0);">ŞABAN TAMİR</a></h4>
                                <p>İnş.Yük.Mühendisi (İ.T.Ü) - Kurucu Ortak</p>
                                <br />
                                <p> 0 (533) 632 1918</p>
                                <p>tamkainsaat@hotmail.com</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- COLUMNS 2 -->
                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-t30">
                    <div class="wt-team-four">

                        <div class="wt-team-info">
                            <div class="wt-team-skew-block p-t10">
                                <div class="social-icons-outer bg-primary  p-a25">
                                    <ul class="social-icons social-square social-dark white-border m-b0">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-a20">
                                <h4 class="wt-team-title text"><a href="javascript:void(0);">MİRAY TAMİR</a></h4>
                                <p>Mimar</p>
                                <br />
                                <p>0 (553) 638 2203</p>
                                <p>miray@tamkayapi.com</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-t30">
                    <div class="wt-team-four">

                        <div class="wt-team-info">
                            <div class="wt-team-skew-block p-t10">
                                <div class="social-icons-outer bg-primary  p-a25">
                                    <ul class="social-icons social-square social-dark white-border m-b0">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-a20">
                                <h4 class="wt-team-title text"><a href="javascript:void(0);">KAAN TAMİR</a></h4>
                                <p>İnşaat Mühendisi</p>
                                <br />
                                <p>0 (554) 142 1205</p>
                                <p>kaan@tamkayapi.com</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- COLUMNS 3 -->
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-100pc m-t30">
                    <div class="wt-team-four">

                        <div class="wt-team-info">
                            <div class="wt-team-skew-block p-t10">
                                <div class="social-icons-outer bg-primary  p-a25">
                                    <ul class="social-icons social-square social-dark white-border m-b0">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-a20">
                                <h4 class="wt-team-title text"><a href="javascript:void(0);">ABDULLLAH TAMİR</a></h4>
                                <p>Proje Koordinatörü, Ortak</p>
                                <br />
                                <p>0 (505) 998 6860</p>
                                <p>abdullah@tamkayapi.com</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- COLUMNS 4 -->

                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-100pc m-t30">
                    <div class="wt-team-four">

                        <div class="wt-team-info">
                            <div class="wt-team-skew-block p-t10">
                                <div class="social-icons-outer bg-primary  p-a25">
                                    <ul class="social-icons social-square social-dark white-border m-b0">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-a20">
                                <h4 class="wt-team-title text"><a href="javascript:void(0);">HALİL TAMİR</a></h4>
                                <p>Kurucu Ortak</p>
                                <br />
                                <p>0 (532) 505 2146</p>
                                <p>info@tamkayapi.com</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-100pc m-t30">
                    <div class="wt-team-four">

                        <div class="wt-team-info">
                            <div class="wt-team-skew-block p-t10">
                                <div class="social-icons-outer bg-primary  p-a25">
                                    <ul class="social-icons social-square social-dark white-border m-b0">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-a20">
                                <h4 class="wt-team-title text"><a href="javascript:void(0);">ADEM TAMİR</a></h4>
                                <p>Kurucu Ortak</p>
                                <br />
                                <p>0 (536) 392 6937</p>
                                <p>info@tamkayapi.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- OUR CLIENT SLIDER END -->
<!-- CONTENT END -->