
@{
    ViewBag.Title = "RegionAnk";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="page-content">

    <!-- INNER PAGE BANNER -->
    <div class="wt-bnr-inr overlay-wraper" style="background-image:url(../../Content/images/banner/ANKARAKAPAK.jpg);">
        <div class="overlay-main bg-black" style="opacity:0.5;"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <h1 class="text-white">ANKARA</h1>
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END -->
    <!-- BREADCRUMB ROW -->
    <div class="bg-gray-light p-tb20">
        <div class="container">
            <ul class="wt-breadcrumb breadcrumb-style-1">
                <li><a href="/Home/Index">Home</a></li>
                <li>Ankara</li>
            </ul>
        </div>
    </div>
    <!-- BREADCRUMB ROW END -->
    <!-- SECTION CONTENT START -->
    <div class="section-full p-t80 p-b50 bg-gray">
        <div class="container">

            <!-- COLUMNS 1 -->
            <div class="blog-post blog-lg date-style-3 date-skew">

                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="javascript:void(0);"><img src="~/Content/images/ankara/ankara1.jpg" alt=""></a>
                </div>
                <div class="wt-post-info p-a30 p-b15  bg-white">
                    <div class="wt-post-title ">
                        <h3 class="post-title"><a href="javascript:void(0);">Tamka Yaşam Sitesi</a></h3>
                    </div>
                    <div class="wt-post-meta ">
                        <ul>
                            <li class="post-date"> <i class="fa fa-calendar"></i><span> 2016</span> </li>
                            <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka</span></a> </li>

                        </ul>
                    </div>
                    <div class="wt-post-text">
                        <p>Toplam 11.920 m2 inşaat alanı ile 63 bağımsız bölümden oluşmaktadır.</p>
                    </div>
                    <div class="wt-post-readmore">

                    </div>

                </div>

            </div>
            <!-- COLUMNS 2 -->
            <div class="blog-post blog-lg date-style-3 date-skew">

                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="javascript:void(0);"><img src="~/Content/images/ankara/ankara2.jpg" alt=""></a>
                </div>
                <div class="wt-post-info p-a30 p-b15  bg-white">

                    <div class="wt-post-title ">
                        <h3 class="post-title"><a href="javascript:void(0);">Şale Resort Otel</a></h3>
                    </div>
                    <div class="wt-post-meta ">
                        <ul>
                            <li class="post-date"> <i class="fa fa-calendar"></i><span> 2018</span> </li>
                            <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka</span></a> </li>
                        </ul>
                    </div>
                    <div class="wt-post-text">
                        <p>75 odadan oluşan şehir merkezinde lüks otel...</p>
                    </div>
                    <div class="wt-post-readmore">

                    </div>


                </div>

            </div>
            <!-- COLUMNS 3 -->
            <div class="blog-post blog-lg date-style-3 date-skew">

                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="javascript:void(0);"><img src="~/Content/images/ankara/ankara3.jpg" alt=""></a>
                </div>
                <div class="wt-post-info p-a30 p-b15  bg-white">

                    <div class="wt-post-title ">
                        <h3 class="post-title"><a href="javascript:void(0);">Konut ve Ticari Proje</a></h3>
                    </div>
                    <div class="wt-post-meta ">
                        <ul>
                            <li class="post-date"> <i class="fa fa-calendar"></i> <span> 2017</span> </li>
                            <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka</span></a> </li>

                        </ul>
                    </div>
                    <div class="wt-post-text">
                        <p>30 daireden ve 4 ticari alandan oluşan şehir merkezindeki projemiz...</p>
                    </div>
                    <div class="wt-post-readmore">

                    </div>


                </div>

            </div>
            <!-- COLUMNS 4 -->
            <div class="blog-post blog-lg date-style-3 date-skew">

                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="javascript:void(0);"><img src="~/Content/images/ankara/ankara8.jpg" alt=""></a>
                </div>
                <div class="wt-post-info p-a30 p-b15  bg-white">

                    <div class="wt-post-title ">
                        <h3 class="post-title"><a href="javascript:void(0);">Sınav Okulları</a></h3>
                    </div>
                    <div class="wt-post-meta ">
                        <ul>
                            <li class="post-date"> <i class="fa fa-calendar"></i> <span> 2010</span> </li>
                            <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka</span></a> </li>

                        </ul>
                    </div>
                    <div class="wt-post-text">
                        <p>Sınav okulları, belmek kurs merkezi ve ticari alandan oluşan projemiz...</p>
                    </div>
                    <div class="wt-post-readmore">

                    </div>


                </div>

            </div>
            <!-- COLUMNS 5 -->
            <div class="blog-post blog-lg date-style-3 date-skew">

                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="javascript:void(0);"><img src="~/Content/images/ankara/ankara6.jpg" alt=""></a>
                </div>
                <div class="wt-post-info p-a30 p-b15  bg-white">

                    <div class="wt-post-title ">
                        <h3 class="post-title"><a href="javascript:void(0);">Ay Yıldız Eğitim Kurumları</a></h3>
                    </div>
                    <div class="wt-post-meta ">
                        <ul>
                            <li class="post-date"> <i class="fa fa-calendar"></i> <span> 2015</span> </li>
                            <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka</span></a> </li>

                        </ul>
                    </div>
                    <div class="wt-post-text">
                        <p>Konut ve kurs merkezi projemiz...</p>
                    </div>
                    <div class="wt-post-readmore">

                    </div>


                </div>

            </div>
            <!-- COLUMNS 6 -->
            <div class="blog-post blog-lg date-style-3 date-skew">

                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="javascript:void(0);"><img src="~/Content/images/ankara/ankara7.jpg" alt=""></a>
                </div>
                <div class="wt-post-info p-a30 p-b15  bg-white">

                    <div class="wt-post-title ">
                        <h3 class="post-title"><a href="javascript:void(0);">Konut ve Ticari Alan Projemiz</a></h3>
                    </div>
                    <div class="wt-post-meta ">
                        <ul>
                            <li class="post-date"> <i class="fa fa-calendar"></i><span> 2005</span> </li>
                            <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka</span></a> </li>

                        </ul>
                    </div>
                    <div class="wt-post-text">
                        <p>Şehir merkezinde 20 konut ve 2 ticari alan projemiz...</p>
                    </div>
                    <div class="wt-post-readmore">

                    </div>


                </div>

            </div>


            <div class="blog-post blog-lg date-style-3 date-skew">

                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="javascript:void(0);"><img src="~/Content/images/ankara/ankara9.jpeg" alt=""></a>
                </div>
                <div class="wt-post-info p-a30 p-b15  bg-white">

                    <div class="wt-post-title ">
                        <h3 class="post-title"><a href="javascript:void(0);">Tamka Düğün Salonu</a></h3>
                    </div>
                    <div class="wt-post-meta ">
                        <ul>
                            <li class="post-date"> <i class="fa fa-calendar"></i> <span> 2010</span> </li>
                            <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka</span></a> </li>

                        </ul>
                    </div>
                    <div class="wt-post-text">
                        <p>1000 m2'lik düğün salonu projemiz...</p>
                    </div>
                    <div class="wt-post-readmore">

                    </div>


                </div>

            </div>

            <div class="blog-post blog-lg date-style-3 date-skew">

                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="javascript:void(0);"><img src="~/Content/images/ankara/ankara11.jpg" alt=""></a>
                </div>
                <div class="wt-post-info p-a30 p-b15  bg-white">

                    <div class="wt-post-title ">
                        <h3 class="post-title"><a href="javascript:void(0);">Ankara Büyük Şehir Belediyesi Aile Yaşam Merkezi</a></h3>
                    </div>
                    <div class="wt-post-meta ">
                        <ul>
                            <li class="post-date"> <i class="fa fa-calendar"></i> <span> 2019</span> </li>
                            <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka</span></a> </li>

                        </ul>
                    </div>
                    <div class="wt-post-text">
                        <p>Kültür ve Sosyal Alan Projemiz...</p>
                    </div>
                    <div class="wt-post-readmore">
                    </div>


                </div>

            </div>
            @*<div class="blog-post blog-lg date-style-3 date-skew">

                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="javascript:void(0);"><img src="~/Content/images/ankara/ankara12.jpg" alt=""></a>
                </div>
                <div class="wt-post-info p-a30 p-b15  bg-white">

                    <div class="wt-post-title ">
                        <h3 class="post-title"><a href="javascript:void(0);">Konut ve Ticari Proje</a></h3>
                    </div>
                    <div class="wt-post-meta ">
                        <ul>
                            <li class="post-date"> <i class="fa fa-calendar"></i><span> 2017</span> </li>
                            <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka</span></a> </li>

                        </ul>
                    </div>
                    <div class="wt-post-text">
                        <p>30 konuttan oluşan yaşam alanı projemiz...</p>
                    </div>
                    <div class="wt-post-readmore">

                    </div>


                </div>

            </div>*@
            <div class="blog-post blog-lg date-style-3 date-skew">

                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="javascript:void(0);"><img src="~/Content/images/ankara/ankara13.jpeg" alt=""></a>
                </div>
                <div class="wt-post-info p-a30 p-b15  bg-white">

                    <div class="wt-post-title ">
                        <h3 class="post-title"><a href="javascript:void(0);">Polatlı Çarşı AVM </a></h3>
                    </div>
                    <div class="wt-post-meta ">
                        <ul>
                            <li class="post-date"> <i class="fa fa-calendar"></i><span> 2018</span> </li>
                            <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka</span></a> </li>

                        </ul>
                    </div>
                    <div class="wt-post-text">
                        <p>1500 m2'lik Ticari Alan Projemiz...</p>
                    </div>
                    <div class="wt-post-readmore">

                    </div>


                </div>

            </div>

            <div class="blog-post blog-lg date-style-3 date-skew">

                <div class="wt-post-media wt-img-effect zoom-slow">
                    <a href="javascript:void(0);"><img src="~/Content/images/ankara/ankara14.png" alt=""></a>
                </div>
                <div class="wt-post-info p-a30 p-b15  bg-white">

                    <div class="wt-post-title ">
                        <h3 class="post-title"><a href="javascript:void(0);">Ticari Alan Projemiz </a></h3>
                    </div>
                    <div class="wt-post-meta ">
                        <ul>
                            <li class="post-date"> <i class="fa fa-calendar"></i><span> 2012</span> </li>
                            <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka</span></a> </li>

                        </ul>
                    </div>
                    <div class="wt-post-text">
                        <p>Toplantı, düğün salonu ve ticari alan projemiz...</p>
                    </div>
                    <div class="wt-post-readmore">

                    </div>


                </div>

            </div>

            <!-- PAGINATION START -->
            <!-- PAGINATION END -->

        </div>
    </div>
    <!-- SECTION CONTENT END -->

</div>

