
@{
    ViewBag.Title = "RegionIst";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="page-content">

    <!-- INNER PAGE BANNER -->
    <div class="wt-bnr-inr overlay-wraper" style="background-image:url(../../Content/images/banner/ISTANBULKAPAK.jpg)">
        <div class="overlay-main bg-black" style="opacity:0.5;"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <h1 class="text-white">Istanbul</h1>
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END -->
    <!-- BREADCRUMB ROW -->
    <div class="bg-gray-light p-tb20">
        <div class="container">
            <ul class="wt-breadcrumb breadcrumb-style-1">
                <li><a href="/Home/Index">Ana Sayfa</a></li>
                <li>Istanbul</li>
            </ul>
        </div>
    </div>
    <!-- BREADCRUMB ROW END -->
    <!-- CONTENT SECTION START -->
    <div class="section-full p-t80 p-b50 bg-no-repeat bg-bottom-center bg-cover" style="background-image:url(../../Content/images/background/bg-6.jpg);">
        <div class="container">

            <!-- PAGINATION TOP START -->
            <!-- PAGINATION TOP END -->
            <!-- GALLERY CONTENT START -->
            <div class="row">
                <div class="portfolio-wrap mfp-gallery no-col-gap" style="position: relative; height: 1304.17px;">

                    <!-- COLUMNS 1 -->
                    <div class="masonry-item house col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b30" style="position: absolute; left: 0px; top: 0px;">
                        <div class="wt-gallery-bx p-lr15">
                            <div class="wt-thum-bx wt-img-effect img-reflection p-a15">
                                <a href="javascript:void(0);">
                                    <div align="center">
                                        <img src="~/Content/images/istanbul/sayfa1.jpg" alt="">
                                    </div>

                                </a>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-link wt-icon-box-xs"></i>
                                        </a>
                                        <a href="~/Content/images/istanbul/sayfa1.jpg" class="mfp-link">
                                            <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-post-info  p-a30 p-b15  bg-white">

                            <div class="wt-post-title ">
                                <h3 class="post-title"><a href="javascript:void(0);">Üsküdar.Mimar Sinan Mah.</a></h3>
                            </div>

                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><span>2020</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka Yapi</span></a> </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <p>Tamka Yapı Üsküdar Elit Suites projesi ile Üsküdar'a değer katmayı hedefliyor...</p>
                            </div>
                        </div>
                    </div>

                    <!-- COLUMNS 2 -->
                    <div class="masonry-item building col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b30" style="position: absolute; left: 485px; top: 0px;">
                        <div class="wt-gallery-bx p-lr15">
                            <div class="wt-thum-bx wt-img-effect img-reflection p-a15">
                                <a href="javascript:void(0);">
                                    <div align="center">
                                        <img src="~/Content/images/istanbul/sayfa2.jpg" alt="">
                                    </div>
                                </a>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-link wt-icon-box-xs"></i>
                                        </a>
                                        <a href="~/Content/images/istanbul/sayfa2.jpg" class="mfp-link">
                                            <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-post-info  p-a30 p-b15  bg-white">

                            <div class="wt-post-title ">
                                <h3 class="post-title"><a href="javascript:void(0);">Üsküdar.Mimar Sinan Mah.</a></h3>
                            </div>

                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><span>2020</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka Yapi</span></a> </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <p>Konutlarımızın eşsiz boğaz ve deniz manzarasını yakından görün...</p>
                            </div>
                        </div>
                    </div>
                    <!-- COLUMNS 3 -->
                    <div class="masonry-item office col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b30" style="position: absolute; left: 0px; top: 326px;">
                        <div class="wt-gallery-bx p-lr15">
                            <div class="wt-thum-bx wt-img-effect img-reflection p-a15">
                                <a href="javascript:void(0);">
                                    <div align="center">
                                        <img src="~/Content/images/istanbul/sayfa3.jpg" alt="">
                                    </div>
                                </a>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-link wt-icon-box-xs"></i>
                                        </a>
                                        <a href="~/Content/images/istanbul/sayfa3.jpg" class="mfp-link">
                                            <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-post-info  p-a30 p-b15  bg-white">

                            <div class="wt-post-title ">
                                <h3 class="post-title"><a href="javascript:void(0);">Üsküdar.Mimar Sinan Mah.</a></h3>
                            </div>

                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><span>2020</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka Yapi</span></a> </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <p>Geniş yelpazede kaliteli ve yenilikçi çalışmalara imza atıyoruz...</p>
                            </div>
                        </div>
                    </div>
                    <!-- COLUMNS 4 -->
                    <div class="masonry-item garden col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b30" style="position: absolute; left: 485px; top: 326px;">
                        <div class="wt-gallery-bx p-lr15">
                            <div class="wt-thum-bx wt-img-effect img-reflection p-a15">
                                <div align="center">
                                    <a href="javascript:void(0);">
                                        <img src="~/Content/images/istanbul/sayfa4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-link wt-icon-box-xs"></i>
                                        </a>
                                        <a href="~/Content/images/istanbul/sayfa4.jpg" class="mfp-link m-b15">

                                            <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-post-info  p-a30 p-b15  bg-white">

                            <div class="wt-post-title ">
                                <h3 class="post-title"><a href="javascript:void(0);">Üsküdar.Mimar Sinan Mah.</a></h3>
                            </div>

                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><span>2020</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka Yapi</span></a> </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <p>Güçlü lokasyon...Kentin içinde huzurlu ve sıcak bir yaşam sizi bekliyor...</p>
                            </div>
                        </div>
                    </div>





                    <div class="masonry-item garden col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b30" style="position: absolute; left: 485px; top: 326px;">
                        <div class="wt-gallery-bx p-lr15">
                            <div class="wt-thum-bx wt-img-effect img-reflection p-a15">
                                <div align="center">
                                    <a href="javascript:void(0);">
                                        <img src="~/Content/images/istanbul/sayfa5.jpg" alt="">
                                    </a>
                                </div>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-link wt-icon-box-xs"></i>
                                        </a>
                                        <a href="~/Content/images/istanbul/sayfa5.jpg" class="mfp-link m-b15">

                                            <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-post-info  p-a30 p-b15  bg-white">

                            <div class="wt-post-title ">
                                <h3 class="post-title"><a href="javascript:void(0);">Üsküdar.Mimar Sinan Mah.</a></h3>
                            </div>

                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><span>2020</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka Yapi</span></a> </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <p>Tüm yorgunluğunuzu arkanızda bırakıp huzuru tadabileceğiniz bir yuva...</p>
                            </div>
                        </div>
                    </div>



                    <div class="masonry-item garden col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b30" style="position: absolute; left: 485px; top: 326px;">
                        <div class="wt-gallery-bx p-lr15">
                            <div class="wt-thum-bx wt-img-effect img-reflection p-a15">
                                <div align="center">
                                    <a href="javascript:void(0);">
                                        <img src="~/Content/images/istanbul/sayfa6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-link wt-icon-box-xs"></i>
                                        </a>
                                        <a href="~/Content/images/istanbul/sayfa6.jpg" class="mfp-link m-b15">

                                            <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-post-info  p-a30 p-b15  bg-white">

                            <div class="wt-post-title ">
                                <h3 class="post-title"><a href="javascript:void(0);">Üsküdar.Mimar Sinan Mah.</a></h3>
                            </div>

                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><span>2020</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka Yapi</span></a> </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <p>Özenle tasarlanmış yeni evinizde konfor ve kalite ön planda...</p>
                            </div>
                        </div>
                    </div>





                    <div class="masonry-item garden col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b30" style="position: absolute; left: 485px; top: 326px;">
                        <div class="wt-gallery-bx p-lr15">
                            <div class="wt-thum-bx wt-img-effect img-reflection p-a15">
                                <div align="center">
                                    <a href="javascript:void(0);">
                                        <img src="~/Content/images/istanbul/sayfa7.jpg" alt="">
                                    </a>
                                </div>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-link wt-icon-box-xs"></i>
                                        </a>
                                        <a href="~/Content/images/istanbul/sayfa7.jpg" class="mfp-link m-b15">

                                            <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-post-info  p-a30 p-b15  bg-white">

                            <div class="wt-post-title ">
                                <h3 class="post-title"><a href="javascript:void(0);">Üsküdar.Mimar Sinan Mah.</a></h3>
                            </div>

                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><span>2020</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka Yapi</span></a> </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <p>Konforun ve huzurun merkezinde yaşayın...</p>
                            </div>
                        </div>
                    </div>


                    <div class="masonry-item garden col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b30" style="position: absolute; left: 485px; top: 326px;">
                        <div class="wt-gallery-bx p-lr15">
                            <div class="wt-thum-bx wt-img-effect img-reflection p-a15">
                                <div align="center">
                                    <a href="javascript:void(0);">
                                        <img src="~/Content/images/istanbul/sayfa8.jpg" alt="">
                                    </a>
                                </div>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-link wt-icon-box-xs"></i>
                                        </a>
                                        <a href="~/Content/images/istanbul/sayfa8.jpg" class="mfp-link m-b15">

                                            <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-post-info  p-a30 p-b15  bg-white">

                            <div class="wt-post-title ">
                                <h3 class="post-title"><a href="javascript:void(0);">Üsküdar.Mimar Sinan Mah.</a></h3>
                            </div>

                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><span>2020</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka Yapi</span></a> </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <p>Gelecek nesiller evlerinde güvenle ve keyifle büyüsün...</p>
                            </div>
                        </div>
                    </div>


                    <div class="masonry-item garden col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b30" style="position: absolute; left: 485px; top: 326px;">
                        <div class="wt-gallery-bx p-lr15">
                            <div class="wt-thum-bx wt-img-effect img-reflection p-a15">
                                <div align="center">
                                    <a href="javascript:void(0);">
                                        <img src="~/Content/images/istanbul/sayfa9.jpg" alt="">
                                    </a>
                                </div>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-link wt-icon-box-xs"></i>
                                        </a>
                                        <a href="~/Content/images/istanbul/sayfa9.jpg" class="mfp-link m-b15">

                                            <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-post-info  p-a30 p-b15  bg-white">

                            <div class="wt-post-title ">
                                <h3 class="post-title"><a href="javascript:void(0);">Üsküdar.Mimar Sinan Mah.</a></h3>
                            </div>

                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><span>2020</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka Yapi</span></a> </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <p>Kalite ve estetiğin bütünleşmesiyle oluşan şık iç tasarım keyifle buluşuyor.</p>
                            </div>
                        </div>
                    </div>


                    <div class="masonry-item garden col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b30" style="position: absolute; left: 485px; top: 326px;">
                        <div class="wt-gallery-bx p-lr15">
                            <div class="wt-thum-bx wt-img-effect img-reflection p-a15">
                                <div align="center">
                                    <a href="javascript:void(0);">
                                        <img src="~/Content/images/istanbul/sayfa10.jpg" alt="">
                                    </a>
                                </div>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-link wt-icon-box-xs"></i>
                                        </a>
                                        <a href="~/Content/images/istanbul/sayfa10.jpg" class="mfp-link m-b15">

                                            <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-post-info  p-a30 p-b15  bg-white">

                            <div class="wt-post-title ">
                                <h3 class="post-title"><a href="javascript:void(0);">Üsküdar.Mimar Sinan Mah.</a></h3>
                            </div>

                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><span>2020</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka Yapi</span></a> </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <p>Evinizin altındaki kapalı otoparkta, aracınız güvende olsun...</p>
                            </div>
                        </div>
                    </div>


                    <div class="masonry-item garden col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b30" style="position: absolute; left: 485px; top: 326px;">
                        <div class="wt-gallery-bx p-lr15">
                            <div class="wt-thum-bx wt-img-effect img-reflection p-a15">
                                <div align="center">
                                    <a href="javascript:void(0);">
                                        <img src="~/Content/images/istanbul/sayfa11.jpg" alt="">
                                    </a>
                                </div>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-link wt-icon-box-xs"></i>
                                        </a>
                                        <a href="~/Content/images/istanbul/sayfa11.jpg" class="mfp-link m-b15">

                                            <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-post-info  p-a30 p-b15  bg-white">

                            <div class="wt-post-title ">
                                <h3 class="post-title"><a href="javascript:void(0);">Üsküdar.Mimar Sinan Mah.</a></h3>
                            </div>

                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><span>2020</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka Yapi</span></a> </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <p>Tamka Yapı ve Mimarlık Güvencesiylle</p>
                            </div>
                        </div>
                    </div>

                    <div class="masonry-item garden col-lg-6 col-md-6 col-sm-6 col-xs-6 m-b30" style="position: absolute; left: 485px; top: 326px;">
                        <div class="wt-gallery-bx p-lr15">
                            <div class="wt-thum-bx wt-img-effect img-reflection p-a15">
                                <div align="center">
                                    <a href="javascript:void(0);">
                                        <img src="~/Content/images/istanbul/sayfa12.jpg" alt="">
                                    </a>
                                </div>
                                <div class="overlay-bx">
                                    <div class="overlay-icon">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-link wt-icon-box-xs"></i>
                                        </a>
                                        <a href="~/Content/images/istanbul/sayfa12.jpg" class="mfp-link m-b15">

                                            <i class="fa fa-picture-o wt-icon-box-xs"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wt-post-info  p-a30 p-b15  bg-white">

                            <div class="wt-post-title ">
                                <h3 class="post-title"><a href="javascript:void(0);">Üsküdar.Mimar Sinan Mah.</a></h3>
                            </div>

                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-date"> <i class="fa fa-calendar"></i><span>2020</span> </li>
                                    <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Tamka Yapi</span></a> </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <p>Detaylı bilgi ve satış için ofisimize bekleriz...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTENT SECTION END  -->

</div>

