
@{
    ViewBag.Title = "Transform";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="page-content">

    <!-- INNER PAGE BANNER -->
    <!-- INNER PAGE BANNER END -->
    <!-- BREADCRUMB ROW -->
    <div class="bg-gray-light p-tb20">
        <div class="container">
            <ul class="wt-breadcrumb breadcrumb-style-1">
                <li><a href="javascript:void(0);">Ana Sayfa</a></li>
                <li>Kentsel Dönüşüm</li>
            </ul>
        </div>
    </div>
    <!-- BREADCRUMB ROW END -->
    <!-- SECTION CONTENT START -->
    <div class="section-full p-t80 p-b50">

        <div class="container">
            <div class="p-b30">
                <h2 class="text"> KENTSEL DÖNÜŞÜM</h2>
                <div class="wt-separator-outer">
                    <div class="wt-separator style-square">
                        <span class="separator-left bg-primary"></span>
                        <span class="separator-right bg-primary"></span>
                    </div>
                </div>
            </div>

            <div class="faq-block">

                Türkiye'deki riskli yapı stoğunu tespit ederek, yenilenmesi için topyekün bir seferberlik başlıyor.

                <br />
                <br />
                <br />

                Bu Fırsattan Sizde Yararlanabilirsiniz...

                <br />


                Yeni deprem yönetmeliğine göre inşa edilmiş, gerekli zemin iyileştirmeleri yapılmış, modern, yepyeni bir yuvanızın olmasını istemez misiniz?

                <br />
                <br />
                <br />
                İşte Yol Haritası;

                <br />

                <div>
                    <ul class="list-check secondry">
                        <li>Yapının Risk Değerlendirmesinin yapılması. ( Maliklerden herhangi birisinin başvurusu yeterlidir. )</li>
                        <li>Çevre Şehircilik İl Müdürlüğü’nün onayını müteakip “Riskli” olduğu tespit edilen yapı, Tapu’ya şerh edilerek hakkında yıkım kararı alınacaktır. Yapı, 60 gün içinde boşaltılarak yıkılmalıdır.</li>
                        <li>
                            Kat Maliklerinin 2/3 oranında katılımıyla alınacak kararla, yapının yeniden yapımı için Müteahhit firma ile sözleşme imzalanacaktır.

                        </li>
                        <li>
                            Karara katılmayan maliklerin hisseleri, SPK onaylı bir Ekspertiz firmasının yapacağı değerlendirme doğrultusunda önce diğer malikler arasında açık arttırma ile satışa çıkacaktır: Satış gerçekleşmezse, Bakanlık tarafından kamulaştırma yolu ile bu hisseler alınacaktır.
                        </li>
                        <li>
                            Kentsel Dönüşüm yasası çerçevesinde evinin yıkımını gerçekleştirerek yeni konut yapımı için anlaşmaya varan malikler aşağıdaki avantajlardan faydalanabileceklerdir.
                        </li>

                        <li>
                            En çok 18 ay kira yardımı

                        </li>
                        <li>
                            Konut brüt alanına göre 60 ile 84 ay arasında vadeli, 2 yıl ödemesiz süreli, yıllık %4 faiz oranı ile kredi kullanma şansı. ( Ancak hem kira yardımı, hem de indirimli faiz oranı imkanı aynı anda kullanılamıyor. )

                        </li>
                        <li>
                            İmar durumuna göre ilave inşaat hakkı kazanımları araştırılarak, yeni konuta sahip olurken ödenecek masraf çok azaltılabilir.

                        </li>
                        <li>
                            Binanız eski olmasına rağmen şehrin merkezinde ve yeni konutların yüksek fiyatla satıldığı lokasyonlarda yer alıyorsa, yeniden yapım masraflarına rağmen, bitmiş konut fiyatları dikkate alındığında maddi olarak ciddi kazanç sağlanacaktır.

                        </li>
                        <li>
                            Kentsel dönüşüm yasasından faydalanmak istemeyen riskli yapı maliklerinin uğraması muhtemel zararlar da aşağıda belirtilmiştir.

                        </li>
                        <li>
                            Can güvenliği olmayan, eski binalarında oturmayı göze almış olacaklardır.

                        </li>
                        <li>
                            Kamulaştırma sonucu, maliki oldukları bağımsız bölümün değerinin altında satılma riski oldukça yüksektir.
                        </li>
                        <li>
                            Yeni bir konut elde edilmesi sonucu, maddi kazanç elde etmekten feragat ermiş olacaklardır.

                        </li>
                    </ul>
                </div>


                
                Yasa; Riskli yapı stoğu yerine, güvenli yapıların inşa edilmesini zorunlu kılıp buna imkan sağlayacak desteği de sağlayarak büyük bir imkan sunmaktadır.
                <br />

                <br />
                Detaylı bilgi almak, Modern ve Kaliteli bir yapıya sahip olmak için <a href="/Home/Contact"><b style="color:blue"> Bizimle İrtibata Geçiniz...</b></a> 






            </div>

        </div>

    </div>
    <!-- SECTION CONTENT END -->

</div>

