
@{
    Layout = null;
}

<!-- FOOTER START -->
<footer class="site-footer footer-dark">
    <!-- COLL-TO ACTION START -->
    <div class="call-to-action-wrap call-to-action-skew" style="background-image:url(../../Content/images/background/bg-4.png); background-repeat:repeat;background-color:#273447;">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="call-to-action-left p-tb20 p-r50">
                        <h4 class="text m-b10">SİZ HAYAL EDİN, BİZ YAPALIM.</h4>
                        <p> Profesyonel ekip ve güçlü finansman ile proje teklifi, kentsel dönüşüm ve inşaat yapım işlerinde yüklenici ve yatırımcı kimliğimiz ile yanınızdayız</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="call-to-action-right p-tb30">
                        <a href="/Home/Contact" class="site-button skew-icon-btn m-r15 text" style="font-weight:600;">
                            İLETİŞİM <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER BLOCKES START -->
    <div class="footer-top overlay-wraper">
        <div class="overlay-main bg-black" style="opacity:0;"></div>
        <div class="container">
            <div class="row">
                <!-- ABOUT COMPANY -->
                
                <!-- RESENT POST -->
                
                <!-- USEFUL LINKS -->
                
                <!-- NEWSLETTER -->
                
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-6  p-tb20">
                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                        <div class="icon-md text-primary">
                            <span class="flaticon-placeholder"></span>
                        </div>
                        <div class="">
                            <h5 class="wt-tilte text-uppercase m-b0"> ADRES - ISTANBUL</h5>
                            <p>Ahmediye Mah. Emin  Ongan Sok. No:2/4 Üsküdar</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  p-tb20">
                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                        <div class="icon-md text-primary">
                            <span class="flaticon-placeholder"></span>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text-uppercase m-b0">Adres - Ankara</h5>
                            <p>Zafer Mah. Eti Cad. No:72/4 Polatlı</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  p-tb20 ">
                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix ">
                        <div class="icon-md text-primary">
                            <span class="flaticon-smartphone"></span>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text m-b0"> ISTANBUL - İLETİŞİM </h5>
                            <p class="m-b0">0 533 632 1918 </p>
                            <p>0 553 638 2203 </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  p-tb20 ">
                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix ">
                        <div class="icon-md text-primary">
                            <span class="flaticon-smartphone"></span>
                        </div>
                        <div class="icon-content">
                            <h5 class="wt-tilte text m-b0">ANKARA - İLETİŞİM</h5>
                            <p class="m-b0">0 533 632 1918 </p>
                            <p>0 505 998 6860 </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main bg-black" style="opacity:0;"></div>
        <div class="constrot-strip"></div>
        <div class="container p-t30">
            <div class="row"  >
                <div class="wt-footer-bot-center" style="padding-right:470px;">
                    <span class="copyrights-text">© 2023 Tamka Yapı. Tüm Hakları Saklıdır.</span>
                </div>
               
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->